.con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dleft{
    min-width: 400px;
    max-width: 900px;
}
.sright{
    min-width: 400px;
    max-width: 900px;
}
.raz{
    max-height: 900px;
    min-height: 700px;
}
.lraz{
    margin-right: 20px;

}