{% extends 'template.html' %}

{% block content %}
    <div class="text-center">
    <button type="button" class="btn btn-primary" id="btn" style="margin-top: 20px; margin-bottom: 10px;">Просмотр информации о странице</button>
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Информация</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="dateofinfo" align="left">
                            Данная страница содержить информацию о устанавливаемых диагнозах и врачебных специальностях.
                        </p>
                    <div class="con">
                        <div class="linfo">
                        <p align="left">
                            В левой форме сначало необходимо ввести название диагноза,
                            а затем указать стоимость лечения.
                        </p>
                        <p align="left">
                            В форме добавления нового диагноза есть ограничения на:
                        </p>
                        <ul class="ulinfo">
                            <li>
                                <p align="left" class="mb-1">Отправку пустой формы</p>
                            </li>
                            <li>
                                <p align="left" class="mb-1">Ввод числовых значений в поле Название</p>
                            </li>
                             <li>
                                <p align="left" class="mb-1">Ввод буквенных значений в поле Стоимость лечения</p>
                            </li>
                        </ul>
                        </div>
                        <div class="lraz d-flex">
                        <div class="vr"></div>
                        </div>
                        <div class="linfo">
                        <p align="left">
                            В правой форме необходимо ввести название специальности.
                        </p>
                        <p align="left">
                            В форме добавления новой специальности есть ограничения на:
                        </p>
                        <ul class="ulinfo">
                            <li>
                                <p align="left" class="mb-1">Отправку пустой формы</p>
                            </li>
                            <li>
                                <p align="left" class="mb-1">Ввод числовых значений в поле Название</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="dleft">
    <div class="text-center">
        <div class="mb-3">
            Введите данные для добавления нового диагноза
        </div>
        <div class="mb-3">
            <form method="post" action="{% url 'creatediag' %}" value="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" name = "dname" id="name" placeholder="Название" title="Разрешено использовать только пробелы и русские буквы" pattern="^[А-Яа-яЁё\s\-]+$">
                </div>
                <div class="mb-3">
                    <input type="text" name = "dcost" id="name" placeholder="Стоимость лечения" title="Только числовые значения!" pattern="[1-9]">
                </div>
                <input type="`text`" name="id_post" id="id_post" value="" disable hidden>
                <button type="submit" class="main_button" id="main_button">Добавить</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
{#        <div class="row" style="justify-content: center;width: 300px; margin: auto" id="error">#}
{#            {% for massage in messages %}#}
{#                <ul class="{{ massage.tags }}">#}
{#                    {% if 'safe' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}#}
{#                </ul>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
    <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Стоимость лечения</th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for ddd in diagall %}
                <tbody>
                    <tr>
                        <td>{{ ddd.name }}</td>
                        <td>{{ ddd.cost }}</td>
                        <td>
                            <form action="{% url 'deleteddd' %}" value="" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <input type="text" name="id_ddd" value="{{ ddd.id }}" disable hidden>
                                <input class="inp" type="submit" name="delete" value="Удалить">
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
        <div class="raz d-flex">
            <div class="vr"></div>
        </div>
        <div class="sright">
    <div class="text-center">
        <div class="mb-3">
            Введите данные для добавления новой специальности
        </div>
        <div class="mb-3">
            <form method="post" action="{% url 'createspec' %}" value="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" name = "spname" id="name" placeholder="Название специальности" title="Разрешено использовать только пробелы и русские буквы" pattern="^[А-Яа-яЁё\s\-]+$">
                </div>
                <input type="`text`" name="id_post" id="id_post" value="" disable hidden>
                <button type="submit" class="main_button" id="main_button">Добавить</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
{#        <div class="row" style="justify-content: center;width: 300px; margin: auto" id="error">#}
{#            {% for massage in messages %}#}
{#                <ul class="{{ massage.tags }}">#}
{#                    {% if 'safe' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}#}
{#                </ul>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
    <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for sss in specialall %}
                <tbody>
                    <tr>
                        <td>{{ sss.name }}</td>
                        <td>
                            <form action="{% url 'deletesss' %}" value="" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <input type="text" name="id_sss" value="{{ sss.id }}" disable hidden>
                                <input class="inp" type="submit" name="delete" value="Удалить">
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}