{% extends 'template.html' %}

{% block content %}
    <div class="text-center">
        <div class="mb-3">
            <p class="fs-1">Добро пожаловать</p>
        </div>
        <div class="mb-3">
            <p class="fs-5">Разработчик : Пашин Дмитрий Витальевич</p>
        </div>
        <div class="mb-3">
            <p class="fs-5">Студент группы 1183б Югорского Государственного Университета</p>
        </div>
        <div class="mb-3">
            <p class="fs-5">Возможности cистемы: </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item">Внесение данных о сотрудниках</li>
            <li class="list-group-item">Внесение данных о клиентах</li>
            <li class="list-group-item">Внесение данных о посещении</li>
            <li class="list-group-item">Внесение данных о диагнозах и специальностях</li>
            <li class="list-group-item">Отслеживание финансовых показателей поликлиники</li>
            <li class="list-group-item">Сохранение квитанций на оплату лечения</li>
            <li class="list-group-item"></li>
        </ul>
    </div>
{% endblock %}